/* Google Fornts  */

.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
 
}
/* body */
body{
    cursor: pointer;
}
/* header styles */
#header{
    background:linear-gradient(
        rgb(255, 231, 231), rgb(250, 231, 198)
    );
    height: auto;
    width: 100%;
}
#banner-btn{
    font-size: 22px;
    color: white;
    background-color: tomato;
    padding: 5px 20px;
    border-radius: 12px;
}
#text{
    text-align: center;
    margin: auto;
    margin-top: 60px;
}
#banner-img{
    margin-top: 60px;
}
#nav-meno{
    position: relative;
    left: 60px;
}
/* Servise */
#sr-text , #sr-dspts{
    text-align: center;
}
#sr-text{
    margin-top: 12px;
    font-size: 25px;
    font-weight: bold;
}
#sr-dspts{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 8px;
}
#sr-card-one{
    background: linear-gradient(
        rgb(252, 234, 200), rgb(218, 253, 253)
    );
    padding: 20px 0px;
    border-radius: 12px;
    cursor: pointer;
}
#sr-card-two{
    background: linear-gradient(
        rgb(248, 249, 186), rgb(249, 194, 231)
    );
    padding: 20px 0px;
    border-radius: 12px;
    cursor: pointer;
}
#sr-card-three{
    background: linear-gradient(
        rgb(253, 187, 187), rgb(210, 232, 151)
    );
    padding: 20px 0px;
    border-radius: 12px;
    cursor: pointer;
}
/* products styles */
#populer-section{
    background: linear-gradient(
        rgb(248, 228, 191), rgb(255, 222, 217)
    );
}
/* product */








/* Responsive mobail  */
@media screen and (max-width:576px) {
    #header{
        width: 100%;
        margin: auto;
    }
    #logo-one{
        width: 80px;
    }
    #nav-meno{
        flex-direction: column;
        display: none;
    }
    #banner-btn{
        display: none;
    }
   
    #text{
        font-size: 25px;
        width: 200px;
        margin: auto;
        text-align: center;
        /* position: relative;
        right: 40px; */
        margin-top: 40px;
    }
    #banner-img{
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }
    /* main */
    #Services{
        width: 90%;
        margin: auto;
        margin-top: 40px;
    }
    /* Servise */
    #container{
        grid-template-columns: repeat(1, 1fr);
    }
    /*populercontainer */
   #populercontainer{
    flex-direction: column;
   }
   #p-onecard{
    flex-direction: column;
    
   }
   #populer-card-two{
    grid-template-columns: repeat(2, 1fr);
    width: 96%;
    margin: auto;
   }
   #populer-conternt{
    width: 90%;
    margin: auto;
   }
   #img4{
    margin: auto;
   }
   #text-2{
    font-size: 25px;
    margin-bottom: 40px;
   }
   #populer-section{
    height: auto;
    padding: 50px 0px;
   }
   #flex-one{
    flex-direction: column;
   }
   #content{
    flex-direction: column;
   }
   /* #arrival-container{
    flex-direction: column;
   } */
   #card-twoimg{
    margin: auto;
   }
   #arrive{
    width: 90%;
    margin: auto;
    margin-top: 40px;
   }
   #img5{
    width: 100px;
   }
   #card-twoimg{
    width: 90px;
    
   }
   #padding{
    padding-bottom: 20px;
   }
   #btns{
    font-size: 16px;
   }
   #title{
    font-size: 20px;
   }
}